*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing:grayscale;
}
:root{
  --brand-color-light: #60a5fa;
  --brand-color-dark: #1d4ed8;
  --text-color-primary: #f1f5f9;
  --text-color-secondary: #cbd5e1;
  --bg-color: #0f172a;
  --stroke-color:#1e293b;

  --font-family: 'Archivo', sans-serif;

  --fw-base: 400;
  --fw-md: 600;
  --fw-bold: 800;

  --text: 400 16px/140% var(--font-family);
  --text-sm: 400 14px/160% var(--font-family);
  --text-bold: 600 14px/140% var(--font-family);
  --span: 600 14px/145% var(--font-family);
  --h1: 800 24px/135% var(--font-family);
  --h2: 800 16px/140% var(--font-family);
  --h3: 800 14px/140% var(--font-family);

  --fs-xs: 10px;
  --fs-sm: 14px;
  --fs-base: 16px;
  --fs-lg: 24px;

  --py-base: 14px;
  --py-lg: 16px;
  --px-base: 16px;
  --px-lg: 16px;

  --gap-menu: 32px;
  --row-gap: 32px;
  --column-gap: 16px;
  --margin-top:16px;
}

html{
  font-family:var(--font-family) ;
  font-weight: var(--fw-base);
  line-height: 140%;

  overflow-x: hidden;
  scroll-behavior: smooth;
}
body{
  font-size: var(--text);
  background-color: var(--bg-color);
  color: var(--text-color-primary);
}
main{
  margin-top: var(--margin-top);
  row-gap: var(--row-gap);
  column-gap: var(--column-gap);
  grid-template-columns: 1fr;
  grid-template-areas:
  "featured"
  "weekly"
  "ai"
  "aside"
  ;
}

@media (width>= 80em) {
  :root{
    --px-base: 16px;
    --px-lg: 32px;
    --py-base: 14px;
    --py-lg: 20px;
    --row-gap: 80px;
    --column-gap: 32px;
    --margin-top: 40px;
  }
  main{
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas:
    "featured featured"
    "weekly weekly"
    "ai aside"
    ;
  }
}

a{
  text-decoration: none;
  color: inherit
}
a:hover{
  color: var(--brand-color-light);
}
h1,h2,h3{
  font: inherit;
  color: var(--text-color-primary);
}
p{
  font: inherit;
  color: var(--text-color-secondary);
}
img{
  max-width: 100%;
}
footer{
  display: flex;
  gap: 24px;
  padding-block: 24px;
  border-top: solid 1px var(--stroke-color);
  color: var(--text-color-secondary);
}
footer span:nth-child(1){
  margin-right: auto;
}
