#background-color{
  background-color: var(--bg-color);
}
.container{
  --max-width: 375px;
  width: min(var(--max-width),100% - var(--px-lg) * 2);
  align-items: center;
  margin-inline: auto;
}
.desktop-only{
  display: none;
}
.flex-card{
  display: flex;
  max-width: 696px;
  align-items: center;
  gap: 16px;
}
.auto-flow{
  grid-auto-flow: row;
}
.flow-reverse{
  flex-direction: column-reverse;
}

@media (width>= 80em){
  .auto-flow{
    grid-auto-flow: column;
  }
  .container{
    --max-width: 1280px;
  }
  .desktop-only{
    display:initial;
  }
  .grid-cols-2{
    grid-template-columns: 1fr 1fr ;
  }
  .flow-reverse{
    flex-direction: column;
  }
}

.title{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  align-self: stretch;
  overflow: hidden;
  color: inherit;
}
.title-sm{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  align-self: stretch;
  overflow: hidden;
  color: inherit;
}
.short-text{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  align-self: stretch;
  overflow: hidden;
  color: inherit;
}
.content-tag{
  display: inline-block;
  background-color: var(--brand-color-dark);
  padding: 4px 8px 3px;
  border-radius: 4px;
  font: 500 10px/1.2 var(--font-family);
  text-transform: uppercase;
  letter-spacing: 0.04em;
  box-shadow: 0 4px 16px 0 rgba(2, 6, 23, 0.25);
}

.wrap{
  flex-wrap: wrap;
}
.flex{
  display: flex;
  flex-direction: row;
}
.grid{
  display: grid;
}
.grid-flow-col{
  grid-auto-flow: column;
}

.align-center{
  align-items: center;
}
.gap-8{
  gap: 8px;
}
.gap-15{
  gap: 15px;
}
.gap-16{
  gap: 16px;
}
.gap-32{
  gap: 32px;
}
.text-2xl{
  font: var(--h1);
}
.text-xl{
  font: var(--h2);
}
.text-lg{
  font: var(--h3);
}
.text-sm{
  font: var(--text-bold);
}
